@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Inter", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.btn {
	@apply min-h-0;
	@apply normal-case;
}

.tooltip {
	/* --tooltip-color: #424242; */
	--tooltip-text-color: rgb(243 244 246);
}

.fade {
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
	-ms-animation: fadeIn 1s;
}

::-webkit-scrollbar {
	display: block;
	width: 9px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: rgb(229 231 235);
}

::-webkit-scrollbar-track-piece:end {
	background: rgb(229 231 235);
}
::-webkit-scrollbar-track-piece:start {
	background: rgb(229 231 235);
}

::-webkit-scrollbar-thumb {
	background: rgb(156 163 175);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(107 114 128);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
